:root {
  --serif-font: "Playfair Display", serif;
  --sans-serif-font: "Poppins", sans-serif;
  --primary-color: #827397;
  --secondary-color: #f8ede3;
}

h1 {
  font-family: var(--serif-font);
  font-weight: 700;
  font-size: 96px;
}

h2 {
  font-family: var(--serif-font);
  font-size: 45px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 25px;
  color: var(--primary-color);
}

p {
  font-family: var(--sans-serif-font);
}

body {
  max-width: 1200px;
  margin: auto;
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}

ul li img {
  max-width: 400px;
}

.landing-page ul,
nav ul {
  margin-top: 80px;
  text-align: center;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

a {
  color: black;
  font-weight: 700;
}

li a:hover {
  color: var(--primary-color);
}

.landing-page {
  margin-top: 100px;
  text-align: center;
}

.front-page-menu {
  max-width: 500px;
  margin: auto;
}

.hello {
  font-size: 30px;
  font-weight: 700;
}

.description {
  margin-top: 40px;
  font-size: 22px;
}

.about-description {
  padding-left: 60px;
}

.container {
  margin: 50px;
  padding: 50px;
}

.about {
  padding-right: 50px;
  margin-top: 40px;
  margin-bottom: 60px;
  line-height: 25px;
}

.about-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 30px;
}

.about-button:hover {
  background-color: #d0b8a8;
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}

.cv-page h2 {
  text-align: center;
  margin-bottom: 50px;
}
.cv-page h3,
.contact-page h3 {
  padding-bottom: 0px;
  margin-top: 40px;
}

.contact-page {
  text-align: center;
}

.contact-page p,
i {
  font-size: 20px;
}

.contact-page a {
  font-weight: 400;
}

.contact-page a:hover {
  color: var(--primary-color);
}
