:root {
  --serif-font: "Playfair Display", serif;
  --sans-serif-font: "Poppins", sans-serif;
  --primary-color: #363062;
  --secondary-color: #e9d5ca;
}

h1 {
  font-family: var(--serif-font);
  font-weight: 700;
  font-size: 96px;
}

p {
  font-family: var(--sans-serif-font);
}

body {
  max-width: 1200px;
  margin: auto;
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}

ul {
  margin-top: 80px;
  text-align: center;
}

li {
  list-style: none;
}

a {
  color: black;
  font-weight: 700;
}

a:hover {
  color: var(--primary-color);
}

.landing-page {
  margin-top: 100px;
  text-align: center;
}

.front-page-menu {
  max-width: 600px;
  margin: auto;
}

.hello {
  font-size: 30px;
  font-weight: 700;
}

.description {
  margin-top: 40px;
  font-size: 22px;
}
